<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
	<!-- Quartz -->
	<bean name="myJob" class="com.zxdy.quartz.MyJob" />
	<bean id="quartzJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="myJob"></property>
		<property name="targetMethod" value="runMyJob"></property>
		<property name="concurrent" value="false"></property>
	</bean>

	<bean id="quartzTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="quartzJob" />
		<property name="cronExpression" value="0 0 9 * * ?" />
	</bean>
	
	<bean name="quartzScheduler"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref local="quartzTrigger" />
			</list>
		</property>
	</bean>
</beans>