<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties>  
        <property name="dialect" value="oracle" />  
    </properties>
	<typeAliases>
	</typeAliases>
	<mappers>
		<mapper resource="mybatisConf/user.xml"/>
		<mapper resource="mybatisConf/pool.xml"/>
		<mapper resource="mybatisConf/job.xml"/>
	</mappers>
</configuration>